@page "/books"

@using EarthSoft_Project.Components.Modal

@rendermode InteractiveServer
@inject BookService BookService

<PageTitle>Book List</PageTitle>
<h1>The Books</h1>

@if(_books == null)
{
  <p>Loading...</p>
}
else
{
  <label>Search Books</label>
  <input type="text" placeholder="Search by title" @bind="SearchText" />
  <button @onclick="OnSearchClicked">Search</button>
  @if (_noSearchResults)
  {
    <p>Sorry, No Books were returned when searching on "@SearchText"</p>
  }
  else
  {
    <table>
      <tr>
        <th>ID</th>
        <th>Book</th>
        <th>Type</th>
        <th>Available</th>
      </tr>
      @foreach (var book in _filteredBooks)
      {
        <tr @onclick="() => SelectBook(book.Id)">
          <td>@book.Id</td>
          <td>@book.Title</td>
          <td>@book.Type</td>
          <td>@book.Available</td>
        </tr>
      }
    </table>
  }
  <Modal IsVisible=_showModal OnClose=Close book=_book/>
}

@code{
  private List<BookSummary>? _books;
  private List<BookSummary> _filteredBooks = new ();
  private BookDetails _book = new ();
  private bool _showModal;
  private string SearchText { get; set; } = string.Empty;
  private bool _noSearchResults = false;

  protected override async Task OnInitializedAsync()
  {
    _books = await BookService.GetBooksAsync();
    _filteredBooks = _books.ToList();
  }
  public void OnSearchClicked(){
    
    if(string.IsNullOrWhiteSpace(SearchText))
    {
      _filteredBooks = _books.ToList();
      _noSearchResults = false;
    }else
    {
      _filteredBooks = _books.Where(book => book.Title.ToLower().Contains(SearchText.ToLower())).ToList();
      _noSearchResults = false;
    }
    if(!_filteredBooks.Any())
    {
      _noSearchResults = true;
    }
  }
  
  public async Task Close(){
    _showModal = false;
  }
  
  private async Task SelectBook(int id)
  {
    _book = await BookService.GetBookAsync(id);
    _showModal = true;
  }
}