@page "/books"

@using EarthSoft_Project.Components.Modal

@rendermode InteractiveServer
@inject BookService BookService



<PageTitle>Book List</PageTitle>
<h1>The Books</h1>

@if(books == null)
{
  <p>Loading...</p>
}
else
{
  <label>Search Books</label>
  <input type="text" placeholder="Search by title" @bind="searchText" />
  <button @onclick="OnSearchClicked">Search</button>
  <p>@message</p>
  <table>
    <tr>
      <th>ID</th>
      <th>Book</th>
      <th>Type</th>
      <th>Available</th>
    </tr>
      @foreach (var book in filteredBooks)
      {
        <tr @onclick="() => SelectBook(book.Id)">
          <td>@book.Id</td>
          <td>@book.Title</td>
          <td>@book.Type</td>
          <td>@book.Available</td>
        </tr>
      }
  </table>
  <Modal IsVisible=showModal OnClose=Close book=book/>
}

@code{
  private List<BookSummary>? books;
  private List<BookSummary> filteredBooks;
  private BookDetails book;
  private bool showModal;
  private string message = "Record Not Clicked";
  private string searchText { get; set; } = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    books = await BookService.GetBooksAsync();
    filteredBooks = books.ToList();
  }
  public void OnSearchClicked(){

    if(string.IsNullOrWhiteSpace(searchText))
    {
      filteredBooks = books.ToList();
    }else
    {
      filteredBooks = books.Where(book => book.Title.ToLower().Contains(searchText.ToLower())).ToList();
    }
  }

  public async Task Close(){
    showModal = false;
  }
  public async Task SelectBook(int id)
  {
    book = await BookService.GetBookAsync(id);
    Console.WriteLine($"{book.Id} - {book.Author} - {book.Title}");
    message = $"Record {id} Clicked!";
    showModal = true;
  }
}